.header_container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: static;
    top: 0;
    z-index: 3;
}

.header_nav > *:not(:last-child) {
    margin: 1rem;
}

.header_donate_button {
    border-radius: 20px;
    width: 5rem;
    height: 2rem;
    background-color: green;
}